<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.homework">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="宜蘭勁遊趣"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity3" />
        <activity android:name=".MainActivity5" />
        <activity android:name=".MainActivityCar1" />
        <activity android:name=".MainActivityCar2" />
        <activity android:name=".MainActivityCar3" />
        <activity android:name=".MainActivityCar4" />
        <activity android:name=".MainActivityCar5" />
        <activity android:name=".MainActivityCar6" />
        <activity android:name=".MainActivityCar7" />
        <activity android:name=".MainActivityCar8" />
        <activity android:name=".MainActivityCar9" />
        <activity android:name=".MainActivityCar10" />
        <activity android:name=".MainActivityCar11" />
        <activity android:name=".MainActivityCar12" />
        <activity android:name=".MainActivityCar13" />
        <activity android:name=".MainActivityCar14" />
        <activity android:name=".MainActivityCar15" />
        <activity android:name=".MainActivityCar16" />
        <activity android:name=".MainActivityCar17" />
        <activity android:name=".MainActivityCar18" />
        <activity android:name=".MainActivityCar19" />
        <activity android:name=".MainActivityCar20" />
        <activity android:name=".MainActivityCar21" />
        <activity android:name=".MainActivityCar22" />
        <activity android:name=".MainActivityCar23" />
        <activity android:name=".MainActivityCar24" />
        <activity android:name=".MainActivityCar25" />
        <activity android:name=".MainActivityCar26" />
        <activity android:name=".MainActivityCar27" />
        <activity android:name=".MainActivityCar28" />
        <activity android:name=".MainActivityCar29" />
        <activity android:name=".MainActivityCar30" />
        <activity android:name=".MainActivityCar31" />
        <activity android:name=".MainActivityCar32" />
        <activity android:name=".MainActivityCar33" />
        <activity android:name=".MainActivityCar34" />
        <activity android:name=".MainActivityCar35" />
        <activity android:name=".MainActivityCar36" />
        <activity android:name=".MainActivityCar37" />
        <activity android:name=".MainActivityCar38" />
        <activity android:name=".MainActivityCar39" />
        <activity android:name=".MainActivityCar40" />
        <activity android:name=".MainActivityCar41" />
        <activity android:name=".MainActivityCar42" />
        <activity android:name=".MainActivityCar43" />
        <activity android:name=".MainActivityCar44" />
        <activity android:name=".MainActivityCar45" />
        <activity android:name=".MainActivityCar46" />
        <activity android:name=".MainActivityCar47" />
        <activity android:name=".MainActivityCar48" />
        <activity android:name=".MainActivityCar49" />
        <activity android:name=".MainActivityCar50" />
        <activity android:name=".MainActivityCar51" />
        <activity android:name=".MainActivityCar52" />
        <activity android:name=".MainActivityCar53" />
        <activity android:name=".MainActivityCar54" />
        <activity android:name=".MainActivityCar55" />
        <activity android:name=".MainActivityCar56" />
        <activity android:name=".MainActivityFood" />
        <activity android:name=".MainActivityFood1" />
        <activity android:name=".MainActivityFood2" />
        <activity android:name=".MainActivityFood3" />
        <activity android:name=".MainActivityFood4" />
        <activity android:name=".MainActivityFood5" />
        <activity android:name=".MainActivityFood6" />
        <activity android:name=".MainActivityFood7" />
        <activity android:name=".MainActivityFood8" />
        <activity android:name=".MainActivityFood9" />
        <activity android:name=".MainActivityFood10" />
        <activity android:name=".MainActivityFood11" />
        <activity android:name=".MainActivityFood12" />
        <activity android:name=".MainActivityFood13" />
        <activity android:name=".MainActivityFood14" />
        <activity android:name=".MainActivityFood15" />
        <activity android:name=".MainActivityFood16" />
        <activity android:name=".MainActivityFood17" />
        <activity android:name=".MainActivityFood18" />
        <activity android:name=".MainActivityFood19" />
        <activity android:name=".MainActivityFood20" />
        <activity android:name=".MainActivityFood21" />
        <activity android:name=".MainActivityFood22" />
        <activity android:name=".MainActivityFood23" />
        <activity android:name=".MainActivityFood24" />
        <activity android:name=".MainActivityFood25" />
        <activity android:name=".MainActivityFood26" />
        <activity android:name=".MainActivityFood27" />
        <activity android:name=".MainActivityFood28" />
        <activity android:name=".MainActivityFood29" />
        <activity android:name=".MainActivityFood30" />
        <activity android:name=".MainActivityFood31" />
        <activity android:name=".MainActivityFood32" />
        <activity android:name=".MainActivityFood33" />
        <activity android:name=".MainActivityFood34" />
        <activity android:name=".MainActivityFood35" />
        <activity android:name=".MainActivityFood36" />
        <activity android:name=".MainActivityFood37" />
        <activity android:name=".MainActivityFood38" />
        <activity android:name=".MainActivityFood39" />
        <activity android:name=".MainActivityFood40" />
        <activity android:name=".MainActivityFood41" />
        <activity android:name=".MainActivityFood42" />
        <activity android:name=".MainActivityFood43" />
        <activity android:name=".MainActivityFood44" />
        <activity android:name=".MainActivityFood45" />
        <activity android:name=".MainActivityFood46" />
        <activity android:name=".MainActivityFood47" />
        <activity android:name=".MainActivityFood48" />
        <activity android:name=".MainActivityFood49" />
        <activity android:name=".MainActivityFood50" />
        <activity android:name=".MainActivityFun" />
        <activity android:name=".MainActivityF1" />
        <activity android:name=".MainActivityF2" />
        <activity android:name=".MainActivityF3" />
        <activity android:name=".MainActivityF4" />
        <activity android:name=".MainActivityF5" />
        <activity android:name=".MainActivityF6" />
        <activity android:name=".MainActivityF7" />
        <activity android:name=".MainActivityF8" />
        <activity android:name=".MainActivityF9" />
        <activity android:name=".MainActivityF10" />
        <activity android:name=".MainActivityF11" />
        <activity android:name=".MainActivityF12" />
        <activity android:name=".MainActivityF13" />
        <activity android:name=".MainActivityF14" />
        <activity android:name=".MainActivityF15" />
        <activity android:name=".MainActivityF16" />
        <activity android:name=".MainActivityF17" />
        <activity android:name=".MainActivityF18" />
        <activity android:name=".MainActivityF19" />
        <activity android:name=".MainActivityPlan" />
        <activity android:name=".MainActivityoplan2" />
        <activity android:name=".MainActivityLiving" />
        <activity android:name=".MainActivityL1" />
        <activity android:name=".MainActivityL2" />
        <activity android:name=".MainActivityL3" />
        <activity android:name=".MainActivityL4" />
        <activity android:name=".MainActivityL5" />
        <activity android:name=".MainActivityL6" />
        <activity android:name=".MainActivityL7" />
        <activity android:name=".MainActivityL8" />
        <activity android:name=".MainActivityL9" />
        <activity android:name=".MainActivityL10" />
        <activity android:name=".MainActivityL11" />
        <activity android:name=".MainActivityL12" />
        <activity android:name=".MainActivityL13" />
        <activity android:name=".MainActivityL14" />
        <activity android:name=".MainActivityL15" />
        <activity android:name=".MainActivityL16" />
        <activity android:name=".MainActivityL17" />
        <activity android:name=".MainActivityL18" />
        <activity android:name=".MainActivityL19" />
        <activity android:name=".MainActivityL20" />
        <activity android:name=".MainActivityL21" />
        <activity android:name=".MainActivityL22" />
        <activity android:name=".MainActivityL23" />
        <activity android:name=".MainActivityL24" />
        <activity android:name=".MainActivityL25" />
        <activity android:name=".MainActivityL26" />
        <activity android:name=".MainActivityL27" />
        <activity android:name=".MainActivityL28" />
        <activity android:name=".MainActivityL29" />
        <activity android:name=".MainActivityL30" />
        <activity android:name=".MainActivityL31" />
        <activity android:name=".MainActivityL32" />
        <activity android:name=".MainActivityL33" />
        <activity android:name=".MainActivityL34" />
        <activity android:name=".MainActivityL35" />
        <activity android:name=".MainActivityL36" />
        <activity android:name=".MainActivityL37" />
        <activity android:name=".MainActivityL38" />
        <activity android:name=".MainActivityL39" />
        <activity android:name=".MainActivityL40" />
        <activity android:name=".MainActivityL41" />
        <activity android:name=".MainActivityL42" />
        <activity android:name=".MainActivityL43" />
        <activity android:name=".MainActivityL44" />
        <activity android:name=".MainActivityL45" />
        <activity android:name=".MainActivityL46" />
        <activity android:name=".MainActivityL47" />
        <activity android:name=".MainActivityL48" />
        <activity android:name=".MainActivityL49" />
        <activity android:name=".MainActivityL50" />
        <activity android:name=".MainActivityL51" />
        <activity android:name=".MainActivityL52" />
        <activity android:name=".MainActivityL53" />
        <activity android:name=".MainActivityL54" />
        <activity android:name=".MainActivityL55" />
        <activity android:name=".MainActivityL56" />
        <activity android:name=".PostActivity">
        </activity>
    </application>

</manifest>